html {
    scroll-behavior: smooth;
}

body { /* Main background colour */
    background: #6699ff;
}

.header {  /* Top banner on the Index.html page */
    background-color: #003399;
}

.apps .title, /* | Apps text on top of the cards */
.games .title {
    border-left: 8px solid #003399;
    padding-left: 0.8rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
}

.apps .card-title, /* Handles the title of the app for the card: e.g. RETROARCH */
.games .card-title {
    text-transform: uppercase;
}

.apps .card-img-top, /* Handles images in the cards */
.games .card-img-top {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.apps .card-text,
.games .card-text {
    min-height: 100px;
}

.card { /* Handles the body of the card */
    box-shadow: 10px 10px #003399;
}

.footer { /* Bottom bar of the page */
    background-color: #003399;
    text-align: center;
    color: white;
}

.green { /* Literally only used for the green text on index.html */
    color: green;
}

.red { /* Is there a better way to do this? I'm not sure. */
    color: red;
}

/* Sidebar */
.sidebar { /* You'll never guess what this one's for! -- Guide page*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 1px 7px #003399;
    width: 240px;
}

.sidebar .active { /* Rounded buttons on the sidebar */
    border-radius: 7px;
}

.sidebar-sticky {
    position: absolute;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.guidebox { 
    margin-top: 70px
}

.intro {

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 70%; /* Adjust the maximum width as needed */
    margin-left: 22%;
    margin-right: auto;
    background-color: white;
    box-shadow: 10px 10px #003399;
}

/* === Language Selection */
.dropbtn {
    background-color: #6699ff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #003399;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
